
:host {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.image-wrapper-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // max-width:100%;
    // max-height:100%;

    .wrapper {
        background: rgba(0,0, 0, 0);
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

    }
    .image-wrapper-holder {
        width: 798px;
        height: 600px;
        position: relative;
        box-shadow: 0px 0px 100px rgba(0,0, 0, 0.2);
        display: block;
        margin: 0 auto;
        // max-width:100%;
        // max-height:100%;
        // overflow: hidden;
        
        .image-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            overflow: hidden;
            .image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: none;
                position: relative;
                opacity: 0;
                transition: opacity 0.5s ease-out 0s;
                &.active {
                    opacity: 1;
                }
                .image-marker {
                    position: absolute;
                    border: 2px dashed rgba(0,0, 0, 0);
                    height: 100px;
                    cursor: pointer;
                    transition: border-color 0.5s linear 0s;
                    &.active,
                    &:hover {
                        border-color: rgba(0,0, 0, 1);
                    }
                    width: 100px;
                }
            }
            &.first {
                &.horizontal {
                    left: 0;
                    width: 50%;
                    .image {
                        background-position: left;
                    }
                }
                &.vertical {
                    top: 0;
                    height: 50%;
                    .image {
                        background-position: top;
                    }
                }
            }
            &.second {
                &.horizontal {
                    width: 50%;
                    right: 0;
                    .image {
                        background-position: right;
                    }
                }
                &.vertical {
                    bottom: 0;
                    height: 50%;
                    .image {
                        background-position: bottom;
                    }
                }
            }
        }
        .image-slider {
            background: #565656;
            box-shadow: 0px 0px 10px rgba( #565656, 0.8);
            position: absolute;
            top: 0;
            z-index: 2;
            cursor: pointer;
            pointer-events: none;
            opacity: 0.33;
            transition: opacity 0.5s linear 0s;
            &.active {
                opacity: 1;
            }
            &.horizontal {
                top: 0;
                left: 0;
                width: 10px;
                height: 100%;
                margin-left: -5px;
            }
            &.vertical {
                left: 0;
                top: 0;
                height: 10px;
                width: 100%;
                margin-top: -5px;
            }
        }
        .pan-handler {
            z-index: 3;
            position: absolute;
            width: 30px;
            height: 36px;
            line-height: 36px;
            color: #fff;
            background-color: #565656;
            text-align: center;
            border-radius: 15px;
            margin-top: -18px;
            margin-left: -15px;
            box-shadow: 0px 0px 50px rgba(0,0, 0, 0.8);
            cursor: -webkit-grabbing;
            user-select: none;
            i {
                user-select: none;
                line-height: 36px;
                font-size: medium;
            }
            &.active {
                opacity: 1;
            }
            &.horizontal {
                top: 50%;
            }
            &.vertical {
                left: 50%;
                transform: rotate(90deg);
            }
        }
    }
}