.box {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px dashed #000;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 2;
    .index {
        height: 24px;
        width: 24px;
        line-height: 24px;
        text-align: center;
        font-size: small;
        background: #000;
        color: #fff;
        position: absolute;
        top: -2px;
        font-weight: bold;
        &.left {
            left: -2px;
        }
        &.right {
            right: -2px;
        }
    }
}

.handle {
    background-color: #000;
    width: 10px;
    height: 10px;
    position:absolute;            
    bottom: -2px;
    z-index: 3;
    &.left {
        right: -2px;
        cursor: se-resize;
    }
    &.right {
        left: -2px;
        cursor: sw-resize;
    }
}
.mover {
    cursor: move;
    width: 18px;
    height: 18px;
    background: rgba(0, 0, 0, 1);
    border-radius: 50%;
    position: relative;
    z-index: 3;
    &:before {
        width: 30px;
        height: 30px;
        border: 2px solid rgba(0, 0, 0, 1);
        border-radius: 50%;
        position: relative;
        top: -8px;
        left: -8px;
        content: '';
        display: block;
    }
}