.authoring-view {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .authoring-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row;
        position: relative;
        z-index: 2;
        .authoring-items-wrapper{
            height: 100%;
            order: 1;
            width: 320px;
            .authoring-items-header {
                padding: 0;
                height: 48px;
                width: 100%;
                // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
                border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: row;
                background: #fff;
                .action-input {
                    margin: 0 15px;
                    width: calc(100% - 138px);
                    line-height: 36px;
                    height: 30px;
                    margin-top: 8px;
                    padding: 0 8px;
                    background-color: #f1f3f5;
                    border-radius: 10px;
                    border: 1px solid #E0E0E0;
                    outline: none;
                    transition: background-color 0.3s linear 0s;
                    &:focus,
                    &:active,
                    &:hover {
                        background: #f0f0f0;
                    }
                }
                .action {
                    width: 36px;
                    height: 48px;
                    text-align: center;
                    cursor: pointer;
                    color: rgba(0, 0, 0, 0.80);
                    i {
                        line-height: 48px;
                        font-size: medium;
                    }
                    &:hover,
                    &:focus {
                        background: rgba(0, 0, 0, 0.05);
                    }
                }
            }
            .authoring-items-holder {
                position: relative;
                z-index: 2;
                height: calc(100vh - 48px);
                width: 100%;
                overflow-y: auto;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                -webkit-overflow-scrolling: touch;
                display: flex;
                flex-flow: column;
                background: rgba(255, 255, 255, 1);
                .authoring-image-item {
                    padding: 20px 0 10px 0;
                    position: relative;
                    cursor: pointer;
                    border-left: 5px solid transparent;
                    transition: background-color 0.3s linear 0s;
                    cursor: pointer;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
                    .active-index {
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: rgba(0,0,0,0.05);
                        padding: 0 15px;
                        height: 36px;
                        text-align: center;
                        line-height: 36px;
                        font-weight: bold;
                        font-size: x-small;
                        text-transform: uppercase;
                        color: rgba(0, 0, 0, 0.5);

                        i {
                            margin-left: 15px;
                            width: 36px;
                            height: 36px;
                            text-align: center;
                            line-height: 36px;
                            font-size: small;
                            border-left: 1px solid rgba(0, 0, 0, 0.1);
                            vertical-align: middle;
                            &:hover {
                                background: rgba(0, 0, 0, 0.1);
                            }
                        }
                    }
                    &.active {
                        border-left-color: rgba(0, 0, 0, 0.5);
                    }
                    &:hover {
                        border-left-color: rgba(0, 0, 0, 0.2);
                    }
                    label.state-label {
                        font-weight: bold;
                        font-size: x-small;
                        color: #909090;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        padding-bottom: 10px;
                        width: 100%;
                        display: block;
                        pointer-events: none;
                    }
                    .marker {
                        width: 100%;
                        select {
                            width: 100%;
                            height: 24px;
                            line-height: 24px;
                            border: 1px solid #E0E0E0;
                            border-radius: 0;
                            background: #fff;
                            outline: none;
                        }
                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                    .state-details {
                        width: 100%;
                        float: left;
                        padding: 15px 20px;
                        input {
                            border-radius: 5px;
                            width: 100%;
                            line-height: 30px;
                            padding: 0 10px;
                            font-size: small;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            color: #565656;
                            border-radius: 10px;
                            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.00);
                            background: rgba(0, 0, 0, 0.05);
                            &:focus,
                            &:active,
                            &:hover {
                                border: 1px solid rgba(0, 0, 0, 0.10);
                                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
                                background: rgba(0, 0, 0, 0.075);
                            }
                            outline: none;
                        }
                        textarea {
                            margin-top: 15px;
                            padding: 10px;
                            width: 100%;
                            font-size: small;
                            border: 1px soldi rgba(0, 0, 0, 0.10);
                        }
                    }
                    .left {
                        padding: 0 10px 20px 20px;
                        width: 50%;
                        float: left;
                    }
                    .right {
                        padding: 0 20px 20px 10px;
                        width: 50%;
                        float: left;
                    }
                    .image {
                        width: 100%;
                        height: 90px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.10);
                        transition: box-shadow 0.3s linear 0s;
                        border-radius: 10px;
                        display: inline-block;
                        vertical-align: middle; 
                        border: 1px solid #D0D0D0;
                        overflow: hidden;
                        .image-action {
                            &:not(.stretched) {
                                display: none;
                            }
                            float: left;
                            height: 100%;
                            width: 50%;
                            background-color: rgba(0, 0, 0, 0.2);
                            transition: background-color 0.3s linear 0s;
                            &.stretched {
                                width: 100%;
                                color: #000;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: rgba(0, 0, 0, 0.05);
                            }
                        }
                        &:hover {
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
                            .image-action {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: rgba(0, 0, 0, 0.50);
                                color: #fff;
                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.80);
                                }
                            }
                        }
                    }
                }
            }
        }
        .authoring-main{
            height: 100%;
            order: 2;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            .authoring-main-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                flex-flow: column;
                .authoring-main-actions {
                    order: 1;
                    height: 60px;
                    flex: initial;
                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: flex-end;
                    .authoring-action {
                        border: 2px solid rgba(0, 0, 0, 0.80);
                        color: rgba(0, 0, 0, 0.80);
                        border-radius: 20px;
                        height: 36px;;
                        line-height: 32px;
                        padding: 0 15px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: small;
                        min-width: 100px;
                        text-align: center;
                        cursor: pointer;
                        font-weight: bold;
                        &:hover {
                            background: rgba(0, 0, 0, 0.80);
                            color: #fff;
                        }
                    }
                }
                .authoring-main-holder {
                    order: 2;
                    width: 100%;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .photo-chooser {
        height: 100%;
        width: 100%;
        z-index: 3;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        .photo-chooser-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 4;
            background: rgba(0, 0, 0, 0.50);
        }
        .photo-chooser-details-wrapper {
            z-index: 4;
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .photo-chooser-details {
            z-index: 4;
            position: relative;
            width: 80%;
            height: 80%;
            display: flex;
            flex-flow: column;
            background: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            overflow: hidden;
            .closer {
                z-index: 5;
                position: absolute;
                top:0;
                right:0;
                line-height: 60px;
                width: 60px;
                height: 60px;
                text-align: center;
                color: rgba(0, 0, 0, 0.80);
                cursor: pointer;
                &:hover {
                    background: rgba(0, 0, 0, 0.1);
                }
                i {
                    line-height: 60px;
                    font-size: small;
                }
            }
            .header {
                padding: 0 30px;
                order: 1;
                height: 60px;
                flex: initial;
                width: 100%;
                background: #f0f0f0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                label {
                    line-height: 60px;
                    height: 60px;
                    display: inline-block;
                    padding: 0 30px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                    cursor: pointer;
                    &.active {
                        border-bottom-width: 3px;
                        border-bottom-color: rgba(0, 0, 0, 1);
                    }
                }
            }
            .collection-wrapper {
                flex: 1;
                order: 2;
                width: 100%;
                overflow-y: auto;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                -webkit-overflow-scrolling: touch;
                margin-bottom: 15px;
                .collection {
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                    .collection-item {
                        float: left;
                        width: calc((100% - 150px) * 0.20);
                        height: 200px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        margin: 15px;
                        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.0);
                        transition: box-shadow 0.3s linear 0s;
                        cursor: pointer;
                        &:hover,
                        &:focus,
                        &:active {
                            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }
    }
}
.zoomed-out {
    zoom: 1;
}