.holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .holder-item {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}