<div class="image-wrapper-outer" (click)="onWrapperClick()">
  <div class="wrapper" #contentArea [attr.id]="handlerId">
    <div class="image-wrapper-holder" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseOut()" (mousedown)="onMouseDown()"
      (panstart)="onPanStart()" (panend)="onPanEnd()" (panmove)="onPanMove($event)" (mouseup)="onMouseUp()" #wrapper>
      <div class="image-wrapper first" #first [class.vertical]="draggerType === 'Vertical'" [class.horizontal]="draggerType === 'Horizontal'">
        <div class="image" [style.backgroundImage]="state?.leftPage?.url">
          <marker [index]="i" [draggerType]="draggerType" [wrapperId]="handlerId" *ngFor="let marker of state?.leftPage?.markers; let i = index"
            alignment="left" [config]="marker" (configChange)="onConfigChange($event, i, 'left')"></marker>
        </div>
      </div>
      <div class="image-wrapper second" #second [class.vertical]="draggerType === 'Vertical'" [class.horizontal]="draggerType === 'Horizontal'">
        <div class="image" [style.backgroundImage]="state?.rightPage?.url">
          <marker [index]="i" [draggerType]="draggerType" [wrapperId]="handlerId" *ngFor="let marker of state?.rightPage?.markers; let i = index"
            alignment="right" [config]="marker" (configChange)="onConfigChange($event, i, 'right')"></marker>
        </div>
      </div>
      <div class="image-slider" [class.active]="mouseEventCapturing" #handler [class.vertical]="draggerType === 'Vertical'"
        [class.horizontal]="draggerType === 'Horizontal'"></div>
      <div class="pan-handler" #dragHandler (mousedown)="onMouseDownOnDragHandler()" [class.vertical]="draggerType === 'Vertical'"
        [class.horizontal]="draggerType === 'Horizontal'">
        <i class="material-icons">drag_indicator</i>
      </div>
    </div>
  </div>
</div>