@import "_device.scss";

body {
    margin: 0;
    background: #f1f3f5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    &.dark-bg {
        background: rgba(0,0,0,0.85);
    }
}
* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
  }
  .clearfix::after {
      content: '';
      display: table;
      clear: both;
  }

  .authoring-action {
    border: 2px solid rgba(#333, 1);
    color: rgba(#333, 1);
    border-radius: 20px;
    height: 36px;;
    line-height: 32px;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: small;
    min-width: 100px;
    text-align: center;
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    &:hover {
        background: rgba(#333, 1);
        color: #fff;
    }
}