.home-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    .home-header {
        width:100%;
        
        order: 1;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        h1 {
            font-size: 100px;
            font-weight: 100;
            margin: 15px 0;
            position: relative;
            text-shadow: 0px 0px 5px rgba(0,0,0,0.25);
            &:after {
                position: absolute;
                content: 'alpha';
                height: 24px;
                line-height: 24px;
                text-align: center;
                bottom: -18px;
                width: 90px;
                left: 50%;
                margin-left: -50px;
                padding: 0 10px;
                background: rgba(0,0,0,0.33);
                text-shadow: 0px 0px 4px rgba(0,0,0,0.5);
                color: rgba(#f1f3f5,1);
                border-radius: 20px;
                letter-spacing: 5px;
                font-size: x-small;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        p {
            font-weight: 100;
            font-size: large;
            margin-top: 45px;
        }
    }
    .home-actions {
        height: 350px;
        width:100%;
        flex: initial;
        order: 2;
        .action {
            height: 100%;
            width: 50%;
            float: left;
            text-decoration: none;
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-flow: column;
            overflow: hidden;
            transition: transform 0.3s ease-out 0s;
            transform: scale(1,1);
            &:hover {
                img,
                label {
                    animation: scale-up-a-bit 0.3s linear forwards 0s;
                }
            }
            img {
                height: 200px;
                display: block;
                margin: 0 auto;
            }
            label {
                font-weight: 300;
                font-size: xx-large;
                width: 100%;
                display: block;
                text-align: center;
                text-decoration: none;
                margin: 0 0 45px 0;
                color: rgba(0,0,0,0.5);
                letter-spacing: 1px;
                text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
            }
        }
    }
}
@keyframes scale-up-a-bit {
    0% {
        transform: scale(1,1);
    }
    100% {
        transform: scale(1.1,1.1);
    }
}