<div class="home-wrapper">
  <div class="home-header">
    <h1>iDiff</h1>
    <p>Compare and showcase multiple level of fidelities for screens</p>
  </div>
  <div class="home-actions">
    <a class="action" [routerLink]="['/authoring']" style="background-color: #FF71A0">
      <label>Prototype Flow</label>
      <img src="assets/design_icon.png" />
    </a>
    <a class="action" [routerLink]="['/preview/5e91671d-21e1-f2ee-d00c-750421a30c01']" style="background-color: #54D6BE" >
      <label>Preview Flow</label>
      <img src="assets/preview_icon.png" />
    </a>
  </div>
</div>