.holder-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.holder-item-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0 ;
    left: 0;
    animation: fade-in 1s ease-out forwards 0s;
    transform-style: preserve-3d;
}
.holder {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .holder-item {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex: 1;
        order: 1;
    }
    .holder-type-toggler {
        height: 36px;
        flex: initial;
        order: 2;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .holder-type {
            display: block;
            margin: 0;
            border: 2px solid rgba(0, 0, 0, 1);
            cursor: pointer;
            transition: background-color 0.3s linear 0s;
            border-bottom: none;
            &:nth-child(2n + 1) {
                border-top-left-radius: 15px;
                border-right-width: 1px;
            }
            &:nth-child(2n) {
                border-top-right-radius: 15px;
                border-left-width: 1px;
            }
            &.active {
                background-color: rgba(0, 0, 0, 1);
                color: #fff;
            }
            &:hover {
                &:not(.active) {
                    background-color: rgba(0, 0, 0, 0.10);
                }
            }
            i {
                height: 36px;
                width: 100px;
                line-height: 36px;
                text-align: center;
                display: block;
                margin: 0;
                user-select: none;
            }
            label {
                display: block;
                text-align: center;
                margin: 5px 0 10px 0;
                display: none;
            }
        }
    }
}
.full-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
    .full-wrapper-content {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
.toggle-bar {
    width: 100%;
    bottom:0;
    left:0;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: center;
    justify-items: center;
}
button {
    height: 48px;
    border: 2px  solid rgba(#333, 1);
    color: rgba(#333, 1);
    line-height: 44px;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    outline: none;
    &:hover {
        background: rgba(#333, 1);
        color: #fff;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
        // transform: scale3d(1, 1, 1);
    }
    10% {
        opacity: 0;
            // transform: scale3d(0.90, 0.90, 0.90);
    }
    100% {
        opacity: 1;
        // transform: scale3d(1, 1, 1);
    }
}