<div class="holder-wrapper">
  <ng-container *ngIf="!showFullWrapper">
    <div class="holder-item-wrapper">
      <div class="holder" *ngIf="config">
        <div class="holder-item" *ngIf="selectedDevice === 'macbook'">
          <app-device-wrapper device="macbook" [handlerId]="handlerIdOne" class="zoomed-out">
            <app-compare [config]="config" [handlerId]="handlerIdOne"></app-compare>
          </app-device-wrapper>
        </div>
        <div class="holder-item" *ngIf="selectedDevice === 'ipad'">
          <app-device-wrapper device="ipad landscape" [handlerId]="handlerIdTwo" class="zoomed-out">
            <app-compare [config]="config" [handlerId]="handlerIdTwo"></app-compare>
          </app-device-wrapper>
        </div>
        <div class="holder-type-toggler">
          <div class="holder-type" [class.active]="selectedDevice === 'macbook'" (click)="selectedDevice = 'macbook'">
            <i class="material-icons">laptop</i>
          </div>
          <div class="holder-type" [class.active]="selectedDevice === 'ipad'" (click)="selectedDevice = 'ipad'">
              <i class="material-icons">tablet</i>
            </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="full-wrapper" *ngIf="showFullWrapper">
    <div class="full-wrapper-content">
      <app-compare [handlerId]="handlerIdTwo"></app-compare>
    </div>
  </div>
</div>